
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
}

  @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');

/* PALETTE */
:root {
	--background: #000000;
	--primary: #f3f6f9;
	--secondary: #00d7c3;
  }

  /* GLOBAL STYLES */


  body {
	
	background-color: var(--background);
	color: var(--primary);
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	
  }
  p {
	word-spacing: 0.2rem;
	letter-spacing: 0.05rem;
	box-sizing: border-box;
	padding: 3rem;
  }
  nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
  }

  nav > h1 {
	font-size: 3rem;
	text-shadow:0 0.3rem 0.4rem  var(--secondary);
	text-align: center;
	padding: 12px 0px;
	text-transform: uppercase;
	font-weight: 800;
	
	
}
  nav > div {
	display: flex;
	flex-wrap: wrap;
	height: 130px;
	justify-content: center;
	padding: 0.5rem;
	gap: 1rem;
  }

  #btnSmall, #btnBig {
  flex: 1 1 25rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  height: 50px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .125rem;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: .1875rem solid #00d7c3;
  border-radius: 3.125rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
  font-family: 'Orbitron', sans-serif;
  

}
#btnSmall:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

#btnBig:hover {
	box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
	border: 3px solid #00d7c3;
  }

  @media screen and (max-width: 600px) {
	nav > div {
	  gap: 1rem;
	  flex-direction: column;
	  padding: 15px;
	  justify-content: space-around;
	  display: flex;
	}
  }
body > div> .btnPlanet{
	padding: 1.25rem; 
/*  VER POR QUE NO ME DEJA SELECCIONAR ESTA CLASE */
	
}

.btnPlanet{
	
	padding: 0rem;
	margin: 1.25rem;
	background: black;
	

	
  }
  .btnPlanet > img{
	max-width: 20rem;
	
	
  }



#app{
	display:flex;
	flex-wrap: wrap;
	padding:0;
margin: 0;

		
}
  .mainImage{
	overflow-x: hidden;
	padding-left: 0px;;
flex-grow: 1;
height:auto;
width:\9 ;
float:left;
 	
}

  body > div > p{
	text-align:  justify;
	text-justify: inter-word;
	min-width: 18rem;
	align-items: center;
	float: right;
	flex-grow: 1;
		
}
		
 footer{
	display:block;
	font-size: 0.65rem;
	display:flex;
	justify-content: center;


}

/*   body > h1,
  h2,
  h3 {
	color: var(--secondary);
	font-weight: normal;
	align-content: center;
	justify-content: center;
  } */

  /* NAVIGATOR */
/* nav {
	display: flex;
	justify-content: center;
	height:10vh;
	font-family: 'Gemunu Libre', sans-serif;
	 */

	/* height: 20vh;
	width:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	flex-wrap: wrap;
	background-image: url("./public/images/navbar.jpg");
	background-size: cover;
	background-position: center center; */
  /* }

  nav > .btn {
	background-color: var(--secondary);
	height: 2rem;
	display: flex;
	font-family: 'Gemunu Libre', sans-serif
;

  }
   */