
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');


  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
}



/* PALETTE */
:root {
	--background: #000000;
	--primary: #f3f6f9;
	--secondary: #00d7c3;
  }

  /* GLOBAL STYLES */
  body {
	background-color: var(--background);
	color: var(--primary);
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	height: 100%;
  }

  #app {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;	 
  }

  p {
	word-spacing: 0.2rem;
	letter-spacing: 0.05rem;
	box-sizing: border-box;
	padding: 3rem;
	text-align:  justify;
	text-justify: inter-word;
	min-width: 18rem;
	align-items: center;
	flex-grow: 1;	
   }


  nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
  }

  nav > h1 {
	font-size: 3rem;
	text-shadow:0 0.3rem 0.4rem  var(--secondary);
	text-align: center;
	padding: 12px 0px;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
}

  nav > div {
	display: flex;
	flex-wrap: wrap;
	max-height: 130px; 
	justify-content: center;
	padding: 0.5rem;
	gap: 1rem;
	z-index: 1;
  }

  #btnSmall, #btnBig {
  flex: 1 1 25rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  height: 50px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .125rem;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: .1875rem solid #00d7c3;
  border-radius: 3.125rem;
  /* -webkit-transition: all .15s ease-in-out; */
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
  font-family: 'Orbitron', sans-serif;
  max-height: 3rem;
  min-width: 40vw;
}

#btnSmall:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

#btnBig:hover {
	box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
	border: 3px solid #00d7c3;
  }


  /*  @media screen and (max-width: 600px) {
	nav > div {
	  gap: 1rem;
	  flex-direction: column;
	  padding: 15px;
	  justify-content: space-around;
	  display: flex;
	}
  }  */

  .divBtnPlanet {
	display: flex;
	align-items: center;
	align-content: center;
	padding-top: 2rem;
  }

  .btnPlanet {
	margin: 0.1rem;
	background:black;
  }

  .btnPlanet > img{
	max-width: 20rem;
	cursor: pointer;
  }


  .mainImage {
	overflow-x: hidden; 
	padding-left: 0px;
	flex-grow: 1;
	height:auto;
	width:\9 ;
   }


 .planetCardDiv {
	box-sizing: border-box;
	padding-bottom: 10rem; 
	padding-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
 }

.planetCardDiv > img {
	height: 25rem;
	width:\9 ;
	padding-top: 2rem;
}
	
.planetCardDiv>h2 {
	font-weight: 800;
	font-size: xx-large;
	margin-bottom: 1rem;
}

 footer {
	display:block;
	font-size: 0.65rem;
	display: flex;
	justify-content: center;
}

